*{
    font-family: 'Roboto', sans-serif;
}
    
body{
        background: black;
}

.texto{
    color: white ;   
}

.formulario{
    display: flex;
    flex-direction: column;
    padding: 5% 30%;
}

#textocheck{
    color:white;
}





